# Excluimos los ejecutables de C
*.out

# Excluir los de VIM
*.swp

# Excluir ficheros grandes
*.mp3
*.mp4

# Excluir archivos de datos alterno que Windows suele agregar cuando se descargan archivos de internet
*Zone.Identifier
