body {
    background-color: snow;
    padding: 20px 50px 20px 50px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    border: 1px black dashed;
    width: fit-content;
    text-align: center;
    text-shadow: 2px 2px 4px gray;
    padding: 5px;
}
h2  {
    background-color: aqua;
    display: block;
    width: fit-content;
    padding: 5px;
}
h3 {
    background-color: mediumturquoise;
    display: block;
    width: fit-content;
    padding: 5px;
}