header{
    text-align: center;
}
td{
    text-align: center;
    border: 1px black solid;
}
table{
    border: 3px black solid;
    border-collapse: collapse;
}
th{
    padding: 10px;
    border: 1px black solid;
}
.clase{
    text-align: left;
}
.profe{
    text-align: right;
}
.color{
    width: 30px;
    border: 1px black solid;
}
.asignatura{
    width: 150px;
}
.JM{
    background-color: yellow;
}
.BM{
    background-color: lightblue;
}
.VJ{
    background-color: blue;
}
.NE{
    background-color: purple;
}
.hora{
    font-size: large;
}
.hora p{
    font-size: small;
    padding: 5px;
}