html, body{
    padding: 0px;
    margin: 0px;
    align-content: center;
}
div{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
.morado{
    background-color: purple;
    height: 100%;
    max-width: 900px;
    margin: auto;
}
.rosa{
    background-color: pink;
}
.azuloscuro{
    background-color: blue;
    height: 50px;
}
.blanco{
    background-color: white;
    height: 40px;
    display: flex;
}
.verdeoscuro{
    background-color: darkgreen;
    width: 25%;
}
.naranja{
    background-color: orange;
    width: 30%;
}
.medio{
    display: flex;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.amarillo{
    background-color: yellow;
    height: 100px;
}
.verdeclaro{
    background-color: lightgreen;
    display: grid;
    width: 100%;
}
.verde{
    background-color: green;
    grid-row: 1/3;
}
.azulclaro{
    background-color: lightblue;
    height: 229px;
    grid-column: 2;
}
.rojo{
    background-color: tomato;
    height: 75px;
}